@import "../../../assets/less/vars.less";

.content-section {
  padding: 20px 0;
  @media (min-width: @screen-md) {
    padding: 40px 0;
  }
  &.left {
    .image-wrapper {
      @media (min-width: @screen-md) {
        padding: 20px 30px 20px 0;
      }
    }
    .text-wrapper {
      padding: 30px 20px 0;
      @media (min-width: @screen-md) {
        padding: 20px 0 20px 30px;
      }
    }
  }
  &.right {
    .image-wrapper {
      @media (min-width: @screen-md) {
        padding: 20px 0 20px 30px;
      }
    }
    .text-wrapper {
      padding: 0 20px 30px;
      @media (min-width: @screen-md) {
        padding: 20px 30px 20px 0;
      }
    }
  }
}
