@import "../../assets/less/vars.less";
@import "../../assets/less/mixins.less";

.cards-carousel {
  .ant-carousel {
    .slick-slider {
      margin: 0 0 120px;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .slick-list .slick-slide {
      pointer-events: auto !important;
      a {
        text-decoration: none;
        color: @white;
        &:hover {
          // text-decoration: underline;
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  bottom: -80px;
  z-index: 100;
  pointer-events: auto;
  background: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  &.disabled {
    opacity: 0.3;
  }
  .anticon {
    vertical-align: -0.5em;
  }
  &.next {
    left: 40px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &.prev {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}

.slider-card {
  padding-right: 20px;

  .ant-card-body {
    color: @white;
    padding: 15px;

    @media (min-width: @screen-sm) {
      padding: 30px;
    }

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    &:hover,
    &:focus,
    &:active {
      // transform: translate3D(0, -1px, 0) scale(1.03);
      transform: translateY(-4px);
    }

    .inner {
      min-height: 260px;
      width: 180px;
      display: flex;
      flex-flow: wrap;
      @media (min-width: @screen-sm) {
        min-height: 400px;
        width: 270px;
      }
      h3 {
        font-size: 20px;
        color: @white;
        @media (min-width: @screen-sm) {
          font-size: 27px;
        }
      }
      .super-text {
        font-size: 15px;
        color: @white;
        margin-bottom: 5px;
      }
      img {
        align-self: flex-end;
      }
    }
  }
}
