.page-hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 140px auto 20px;
  max-width: @container-mini-width;
  padding: 0 @default-padding;

  @media (min-width: @screen-md) {
    margin: 200px auto 70px;
  }

  [class~='content'] {
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md) {
      text-align: center;
    }

    [class~='page-highlight'] {
      margin: 0 0 30px;
      [class~='ant-tag'] {
        border: none;
        background: #61a7c7;
        color: @white;
        border-radius: 6px;
        height: auto;
        padding: 4px 8px;
        .font-medium();
      }
    }

    h1 {
      > span {
        background-image: linear-gradient(45deg, #0e467b, #21689f);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
    }

    h2 {
      .font-regular();
      font-size: 19px;
      color: @text-color;
      line-height: 1.5;

      @media (min-width: @screen-md) {
        font-size: 22px;
      }
      @media (min-width: @screen-lg) {
        font-size: 23px;
      }
      @media (min-width: @screen-xl) {
        font-size: 24px;
      }
      @media (min-width: @screen-xxl) {
        font-size: 26px;
      }
    }

    [class~='ant-badge-count'] {
      top: 50%;
      right: -20px;
      background: darken(@chalk, 10%);
      color: @black;
      font-size: 14px;
    }

    [class~='ant-space'] {
      margin: 50px 0 10px;
      flex-direction: column;
      align-items: flex-start;
      align-items: flex-start;

      @media (min-width: @screen-md) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      [class~='ant-space-item'],
      [class~='ant-space-item'] a {
        display: flex;
        align-items: center;
      }
    }
  }
}
