.action-item-header {
  display: flex;
  color: @text-color-strong-darkmode;

  [class~='bg-image-wrapper'] {
    width: 55px;
    height: 55px;
    position: relative;
    border-radius: @border-radius-sm;
    overflow: hidden;

    @media (min-width: @screen-md) {
      width: 85px;
      height: 85px;
    }

    [class~='bg-image'] {
      width: 100%;
      height: 100%;
      border-radius: @border-radius-sm;
      filter: grayscale(100%);
    }
    [class~='icon-wrapper-big'] {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-size: 23px;

      @media (min-width: @screen-md) {
        padding: 28px;
      }

      &[class~='yellow'] {
        background: fade(@yellow, 85%);
      }
      &[class~='blue'] {
        background: fade(@blue, 85%);
      }
      &[class~='green'] {
        background: fade(@green, 85%);
      }
      &[class~='wine'] {
        background: fade(@wine, 85%);
      }

      [class~='icon'] {
        height: 28px;
        width: 28px;
        background-color: @white;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-position: center;
        -webkit-mask-position: center;
      }
    }
  }

  [class~='content'] {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    flex: 1;

    @media (min-width: @screen-md) {
      margin-left: 30px;
    }

    [class~='title'] {
      .font-semi();
      font-size: @font-size-sm;

      @media (min-width: @screen-md) {
        font-size: @font-size-lg;
      }
    }
    [class~='category'] {
      color: @text-color-darkmode;
      display: flex;
      font-size: 15px;
      margin-top: 6px;

      [class~='category-name'] {
        margin-left: 10px;
      }
    }
  }
}
