@import "../../assets/less/vars.less";
@import "../../assets/less/mixins.less";

.header {
  h1 {
    font-size: 32px;
    margin: 20px 0 0;
    @media (min-width: @screen-md) {
      font-size: 50px;
      margin: 100px 0 0;
    }
  }
  h2 {
    font-size: 22px;
    .font-regular();
    color: rgba(0, 0, 0, 0.85);
    margin: 20px 0 20px;
    line-height: 1.6;
  }
}
